*.pyc
*.png
*.h5
Cylinder/torch_solver_not_working/*
*.pt
SOD_shock_tube/experiments_ant_check_code.py
SOD_shock_tube/Sod_cases_param_training.yml
.venv
.python-version
.cursor
uv.lock
data
.pytest_cache
outputs
data_base